/* General Styles for App Page */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  max-width: 600px;
  margin: 20px auto;
  background: rgb(177, 159, 159);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading */
h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}



/* Responsive Design */
@media (max-width: 600px) {
  .App {
    width: 90%;
    padding: 15px;
  }
}
